@import "../../base/base";
@import "../../themes/variables";

.register {
  background-color: #f5f5f5;
  .container {
    .content-register {
      .detail-register {
        h3 {
          margin-top: 48px;
          margin-bottom: 42px;
          font-weight: 400;
        }
        form {
          .register-item {
            .form-group {
              label {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.135px;
                color: rgba(0, 0, 0, 0.6);
                margin-bottom: 5px;
                margin-top: 13px;
              }
              input {
                background: $bg-input;
                border-radius: 4px 4px 0px 0px;
                padding: 16px 12px 14px 14px;
                width: 443px;
                height: 54px;
              }
              span {
                font-weight: $fw-medium;
                font-size: $fs-6;
                line-height: 16px;
                letter-spacing: 0.4px;
                color: #f50e0e;
              }
            }
            .form-gender {
              margin-top: 47px;
              #gender-content {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                .gender-option {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  margin-right: 36px;
                  .gender-click {
                    text-align: center;
                    margin-right: 28px;
                    input {
                      transform: scale(2);
                    }
                    label {
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 20px;
                      letter-spacing: 0.25px;
                      color: rgba(0, 0, 0, 0.6);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
