// biến, mixin
// ----------------Variables--------------------
// Text color
$txt-color-primary: #000000;

// Font weight
$fw-thin: 100;
$fw-xlight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-xbold: 800;
$fw-black: 900;
//

//Font-size
$fs-1: 60px;
$fs-2: 40px;
$fs-3: 32px;
$fs-4: 20px;
$fs-5: 18px;
$fs-6: 12px;
//

//background
$bg-gray: #d9d9d9;
$bg-input: rgba(33, 33, 33, 0.08);
$bg-light: #ffffff;
$bg-gradient-label: linear-gradient(180deg, #f21299 0%, #1b02b5 100%);

//

// ----------------Mixin-----------------------
//
@mixin text-config($fw, $fs, $line-h, $color) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $line-h;
  color: $color;
}

//button
.btn-submit {
  font-weight: $fw-medium;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ffffff;
  background: #6200ee;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
  border: #6200ee;
  border-radius: 50px;
  margin-left: 50%;
  padding: 16px 28px;
  margin-bottom: 77px;
}
.btn-submit:hover{
background-color: #6200ee;
opacity: 0.9;
}
