@import "../../base/base";
@import "../../themes/variables";

.kep-login-facebook.metro {
  background-color: #1877f2;
  border: #1877f2;
  box-shadow: 0px 38.4869px 71.4756px rgba(0, 0, 0, 0.07);
  border-radius: 20.9968px !important;
  margin-top: -100px;
  margin-bottom: 50px;
  width: 450px;
  margin-left: 25%;
}
